@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lato', sans-serif ;
    
}

/* header-style */

.container{
    position:fixed;
    top: 0px;
    width: 100%;
    height:86px;
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
    background-color: white;
}

.logo{
    padding: 0px 30px;
}

.delivery-time{
    font-weight: 900;
    font-size: 20px;
}
.delivery-location{
    margin-top: 8px;
    font-size: 13px;
}
.search-bar{
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background: rgb(248, 248, 248);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.search-desc input{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 100;
    width:100%;
}
.login{
    font-weight: 200;
    font-size: 20px;
}
.cart button{
    font-weight: 700;
    font-size: 15px;
    border: 0px;
    color:white;
    border-radius: 10px;
    margin-right: 40px;
    padding: 17px;
    background-color: green;
}

/* main-style */
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
}
.banner-1{
    display:flex;
    justify-content: center;
}

.banner-1-img img{
    width: 1200px;
    height: 235px;
}
.banner-2{
    display:flex;
    justify-content: center;
}
.banner-2-content{
    display:flex;
    justify-content: start;
    gap:20px; 
    overflow: auto scroll;
    width:1170px;
}
.banner-2-content::-webkit-scrollbar{
    display: none;
}

.banner-img-2 img{
    height: 195px;
    width: 335px;
}

.banner-3{
    width:1200px;
    display:grid;
    grid-template-columns: repeat(10 ,10%);
    flex-wrap: wrap;

}
.section-3-img img{
    width:123px;
    height:168px;
} 

.content{
    
    display:flex;
    justify-content: start;
    overflow: auto scroll;
    gap:20px;
    height: 307px; 
    width:1190px;
}
.content::-webkit-scrollbar{
    display: none;
}
.category-name{
    display:flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 25px;
    padding: 20px;
}
.category-name a{
    color:green;
    text-decoration: none;
}
.content-box img{
    margin:0px 10px;
}
.content-box{
    position: relative;
    padding: 10px;
    height:287px;
    width:179px;
    border-radius:8px;
    border:1px solid rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
}
.quantity{
    line-height: 40px;
    font-size: 12px;
    color: grey;
}
.actual-price{
    color: gray;
    font-size: 12px;
}

.content-box button{
    position: absolute;
    top:240px;
    left:110px;
    background-color: rgb(247, 255, 249);
    border-radius: 5px;
    border:1px solid green;
    color:green;
    padding: 7px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

/* footer-style */

footer{
    display: flex;
    justify-content: center;
    margin:20px;

}
.fa-heart{
    margin-top:100px;
    padding:3px;
    color:red;
}


@media only screen and (max-width:1200px){
    /* header-style */
    .logo{
        padding: 0px 20px;
    }
    .logo svg{
        height:20px;
        width: 100px;
    }
    .delivery-time{
        font-weight: 900;
        font-size: 17px;
    }
    .delivery-location{
        margin-top: 7px;
        font-size: 11px;
    }
    .search-bar{
        width: 35%;
        height: 45px;
        gap: 8px;
        padding: 9px;
    }
    .login{
        font-weight: 200;
        font-size: 18px;
    }
    .cart button{
        font-weight: 700;
        font-size: 14px;
        padding: 12px;
        margin-right: 20px;
    }

    /* main-style */
    .banner-1-img img{
        width: 768px;
        height: 165px;
    }

    .banner-2-content{
        gap:15px; 
        width:740px;
    }

    .banner-img-2 img{
        height: 165px;
        width: 280px;
    }
    .banner-3{
        width:768px;
    }
    .section-3-img img{
        width: 82px;
        height: 120px;
    } 
    .category-name{
        font-size: 22px;
    }
    .content{ 
        width:740px;
    }
}
@media only screen and (max-width:768px){
    /* header-style */
    .container{

        height:65px;
    }
    .logo{
        padding: 0px 10px;
    }
    .logo svg{
        height:25px;
        width: 80px;
    }
    .delivery-time{
        font-weight: 700;
        font-size: 12px;
        width:120px;
    }
    .delivery-location{
        margin-top: 5px;
        font-size: 6px;
    }
    .search-bar{
        width: 30%;
        height: 35px;
        gap: 6px;
        padding: 9px;
    }
    .login{
        font-weight: 200;
        font-size: 14px;
    }
    .cart button{
        font-weight: 700;
        font-size: 8px;
        padding:10px 3px;
        margin-right:20px;
        border-radius:5px;
    } 

    /* main-style */
    .wrapper{
         top:70px;
    }
    .banner-1-img img{
        width: 480px;
        height: 135px;
    }

    .banner-2-content{
        gap:15px; 
        width:470px;
    }

    .banner-img-2 img{
        height: 115px;
        width: 200px;
    }
    .banner-3{
        width:480px;
    }
    .section-3-img img{
        width:45px;
        height:75px;
    } 
    .category-name{
        font-size: 16px;
    }
    .content{ 
        width:480px;
    } 
} 
@media only screen and (max-width:480px){
    /* header-style */
    .container{
        height:45px;
    }
    .logo{
        padding: 0px 10px;
    }
    .logo svg{
        height:15px;
        width: 50px;
    }
    .delivery-time{
        font-weight: 700;
        font-size: 9px;
        width:80px;
    }
    .delivery-location{
        margin-top: 5px;
        font-size: 6px;
    }
    .search-bar{
        width: 30%;
        height: 25px;
        gap: 6px;
        padding: 9px;
        border-radius: 5px;
    }
    
    .search-desc input{
        
        font-size: 9px;
        font-weight: 100;
        padding-bottom: 7px;
    }
    .login{
        font-weight: 200;
        font-size: 10px;
    }
    .cart button{
        font-weight: 700;
        font-size: 6px;
        padding:8px 1px;
        margin-right:15px;
        border-radius:5px;
    } 

    /* main-style */
    .wrapper{
        top:50px;
    }
    .banner-1-img img{
        width: 320px;
        height: 80px;
    }

    .banner-2-content{
        gap:7px; 
        width:310px;
    }

    .banner-img-2 img{
        height: 51px;
        width: 100px;
    }
    .banner-3{
        width:320px;
        
    }
    .section-3-img img{
        width:37px;
        height:45px;
    } 
    .category-name{
        width: 310px;
        font-size: 9px;
    }
    .content{ 
        width:310px;
    } 
    
    .content-box img{
        width:50px;
        height: 50px;
    }
    .content-box{
        
        padding: 4px;
        height:120px;
        width:75px;
        border-radius:5px;
        
    }
    .product-name{
        font-size: 7px;
    }
    .quantity,.actual-price{
        font-size: 4px;
        line-height: 3px;
        padding-top: 5px;
    }
    .price{
        padding-top: 10px;
        font-size: 4px;
    }
    
    .content-box button{
        
        top:95px;
        left:40px;
        border-radius: 3px;
        padding: 2px 4px;
        font-weight: 700;
        font-size: 7px;
        
    }
    footer{
        font-size: 12px;
        margin-top: -220px;
    }
} 

